# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.vercel

# Animaciones originales del soccer pack (solo subimos los anim_*.fbx renombrados)
public/models/goalkeeper*.fbx
public/models/soccer*.fbx
public/models/jog*.fbx
public/models/header*.fbx
public/models/kick*.fbx
public/models/kneeing*.fbx
public/models/stall*.fbx
public/models/receive*.fbx
public/models/fallen*.fbx
public/models/standing*.fbx
public/models/strike*.fbx
public/models/transition*.fbx
public/models/scissor*.fbx
public/models/offensive*.fbx
public/models/Idle.fbx
public/models/Dribble*.fbx
public/models/Ch42_nonPBR.fbx
